<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h2 class="section">Tasks</h2>
    <%= render 'shared/paginate_list', object: @tasks, 
                                   locals: { class_name: "index", 
                                             display: "top"} %>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <h2 class="section">Notes</h2>
    <%= render 'shared/paginate_list', object: @notes, 
                                   locals: { class_name: "index", 
                                             display: "top"} %>
  </div>
</div>