<li>
  <%= link_to user.name, "#" %>
  <% if administrator? %>
    <%= link_to "edit", edit_user_path(user), class: "admin" %>
    <% unless user.name == "Root User" %>
      <%= link_to "delete", user, method: :delete, 
                          data: { confirm: "Delete user #{user.name}?" },
                          class: "admin" %>
    <% end %>
  <% end %>
</li>