<% render 'shared/page_title' %>
<h1><%= "#{@page_heading}" %></h1>
<br />

<h2 class="section">Submitted</h2>
<%= render 'shared/paginate_list', object: @submitted,
                                   locals: { class_name: "index", 
                                             display: "both"} %>
<h2 class="section">Closed</h2>
<%= render 'shared/paginate_list', object: @closed,
                                 locals: { class_name: "index", 
                                           display: "both"} %>
