<h2>Notes</h2>
<%= render 'shared/paginate_list', object: @notes, 
                                   locals: { class_name: "index", 
                                             display: "bottom"} %>