<div class="tasks">
  <hr>
  <h2>Tasks</h2>
  <% will_paginate @tasks %>
  <ul class="index">
    <%= render @tasks %>
  </ul>
  <% will_paginate @tasks %>
  <br />
  
  <hr />
  <h2>Add new Task</h2>
  <%= render 'tasks/fields' %>
</div>