<% render 'shared/page_title' %>
<h1><%= "#{@page_heading}" %></h1>
<br />

<%= render 'shared/paginate_list', object: @plants, 
                                   locals: { class_name: "index", 
                                             display: "both"} %>
