<li>
  <%=  "#{plant_state.name}" %>
  <% if administrator? %>
    <%= link_to "edit", edit_plant_state_path(plant_state), class: "admin" %>    
    <%= link_to "delete", plant_state, method: :delete, 
                        data: { confirm: "Delete state #{plant_state.name}?" },
                        class: "admin" %>    
  <% end %>
</li>