<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    
    <%= javascript_include_tag "https://code.jquery.com/jquery-2.2.0.min.js" %>
  </head>
  <body>
    <h1 class="logo">
      <%= full_title %>
    </h1>
    <%= paginate @grid.assets %>
    <div id="content">
      <%= datagrid_table @grid, options, :formats => [:html] %>
    </div>
  </body>
</html>