<header class="navbar navbar-fixed-top navbar-inverse">
  <h1 class="logo">
    <%= image_tag("logo3.png", size: "50x90", alt: "logo") + full_title %>
  </h1>
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/links' %>
      </ul>
    </nav>
  </div>
</header>