<header class="navbar navbar-fixed-top navbar-inverse">
  <%= link_to "#{full_title}", root_path, id: "logo" %>
  <br />
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/links' %>
      </ul>
    </nav>
  </div>
</header>